@model BlogProject.Models.Category
<a asp-controller="Category" asp-action="Index">Back to List</a>


<div class="text-center">
    <h1 class="title m-5" style="font-size:35px; font-family:'Times New Roman', Times, serif">@Html.DisplayFor(model => model.CategoryName)</h1>
</div>



<div class="container">
   
   
        <ul class="list-group list-group-flush">
            @foreach (var obj in Model.Posts!)
            {
                <div class="col-md-4 d-flex justify-content-center">
                    <a asp-controller="Post" asp-action="Details" asp-route-id="@obj.PostId" style="text-decoration:none" class="text-black">
                        <div class="card" style=" border: none; background-color:  #fbf6ee;">
                            <img src="@obj.PostImg" class="card-img-top cardImage ms-3">
                            <div class="card-body" style="width: 100%">
                                <h5 class="card-title text-start fs-6">@obj.Category!.CategoryName</h5> @*<p>@obj.PostDate.ToString("dd MMMM yyyy")</p>*@
                                <p class="card-text fs-4 titleB">@obj.PostTitle</p>
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    <div class="w-15 text-start" role="group">
                                        <a asp-controller="Post" asp-action="Edit" asp-route-id="@obj.PostId" class="btn text-white mx-2" style="background-color: #0a9396"> <i class="bi bi-pencil-square"></i> Edit</a>

                                        <button type="submit" style="background-color: #c97c5d" class="btn mx-2 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal_@obj.PostId">
                                            <i class="bi bi-trash3"></i> Delete
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_@obj.PostId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #fbf6ee;">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h1 class="fs-5">Are you sure you want to delete @obj.PostTitle?</h1>

                                </div>
                                <div class="modal-footer">

                                    <form asp-controller="Post" asp-action="Delete">
                                        <input type="hidden" name="id" value="@obj.PostId">
                                        <button type="submit" class="btn text-white mx-2" style="background-color: #c97c5d"> <i class="bi bi-trash3"></i> Delete</button>

                                        <button type="button" class="btn btn-secondary opacity-50" data-bs-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </ul>
  
    
</div>